header,
footer {
    background-color: #817c7c;
    height: 10vh;
}

.flex_container {
    display: flex;
    min-height: 76vh;
    margin: 2vh 0;
}

.boxB {
    order: -1;
    flex: 1;
    background-color: green;
}

.boxA {
    flex: 2;
    background-color: rgb(25, 199, 25);
}

.boxC {
    flex: 1;
    background-color: rgb(255, 255, 1);
}

@media all and (max-width: 768px) {
    .flex_container {
        display: flex;
        flex-wrap: wrap;
    }

    .boxA {
        order: -1;
        flex: 100%;
        height: 50vh;
    }

    .boxB,
    .boxC {
        height: 25vh;
    }
}

@media all and (max-width: 480px) {
    .flex_container {
        display: flex;
        flex-direction: column;
    }

    .boxA {
        order: -1;
        flex: 0.8;
    }

    .boxB,
    .boxC {
        flex: 0.3;
    }
}