header,
footer {
    background-color: #817c7c;
    height: 10vh;
}

.flex_container {
    display: flex;
    height: 76vh;
    margin: 2vh 0;

}

.boxC {
    background-color: rgb(235, 235, 53);
    flex: 1;
}

.flex_col {
    display: flex;
    flex-direction: column;
    flex: 2
}

.boxA {
    background-color: rgb(212, 42, 42);
    flex: 1;
}

.boxB {
    background-color: rgb(228, 100, 41);
    flex: 1;
}

@media all and (max-width:768px) {
    .flex_col {
        flex: 1
    }
}
@media all and (max-width:480px){
    .flex_container{
        display: flex;
        flex-direction: column;
    }
    .flex_col{
        flex:2;
    }

}